// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  margin: 30px;
}

tr,h4 {
  font-size: 15px;
}



th {
  justify-content: center;
}

.body {
  display: inline-block;
  justify-content: center;
}

td {
  font-size: 12px;
  padding: 3px 6px 3px 0;
}




a:hover {
  color: red;
}


a:active {
  color: block;
}

h5 {
  padding: 20px;
}

